{% extends 'main/base.html' %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Add new vocabulary</h3>
    <form id="addForm" method="post" action="/add/" class="form-group">
        {% csrf_token %}
        <input type="text" name="vocabulary" class="" placeholder="Enter new vocabulary" required><br><br>
        <div id="translations-container">
            <div class="input-group mb-3 translation-input">
                <input type="text" name="translations[]" class="" placeholder="translation" required>&emsp;
                <input type="text" name="wd_types[]" class="" placeholder="word type" required>&emsp;
                <br>
            </div>
        </div>
        <button type="button" id="add-btn" class="btn btn-info">Add Translation</button><br><br>
        <button type="submit" id="submit" class="btn btn-success">Submit</button>
    </form>

<template id="translation-template">
    <div class="input-group mb-3 translation-input">
      <input type="text" name="translations[]" class="" placeholder="translation" required>&emsp;
      <input type="text" name="wd_types[]" class="" placeholder="word type" required>&emsp;
      <button type="button" class="btn btn-danger btn-sm remove-btn">Remove</button>&emsp;
      <br>
    </div>
</template>

<script>
    const addBtn = document.getElementById('add-btn');
    const translationTemplate = document.getElementById('translation-template');
    const translationsContainer = document.getElementById('translations-container');
  
    addBtn.addEventListener('click', () => {
      const newTranslation = translationTemplate.content.cloneNode(true);
      translationsContainer.appendChild(newTranslation);
    });
  
    translationsContainer.addEventListener('click', (event) => {
      if (event.target.classList.contains('remove-btn')) {
        event.target.parentElement.remove();
      }
    });
</script>

{% endblock %}