{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}


{% block content %}

<h3>
    Vocabulary List 
    <a href="/addVocabulary" class="btn btn-outline-secondary btn-sm">Add</a>
</h3>

{% if msg %}
    <p class="alert alert-success" role="alert">{{ msg }}</p>
{% endif %}

<table class="table">
    {% for vocabulary in user.voc.all %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{vocabulary.word}}</td>
        <td>
            <ul>
                {% for translation in vocabulary.translation_set.all %}
                <li>{{ translation.trans }} {{ translation.wd_type }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <form action="{% url 'editVocabulary' vocabulary.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-info">Edit</button>
            </form>
        </td>
        <td>
            <form action="{% url 'deleteVocabulary' vocabulary.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}